
// Add custom styles first

$theme-colors: (
  "green1": #39a949
);

@font-face {
    font-family: 'helveticaHv';
    src: url('../../assets/fonts/HelveticaNeueLTStd-Hv.otf');
    font-style: normal;
}

$link-color: #2089B3;

.nav-link{
  font-family: 'helveticaHv';
}

.logo{
  width: 180px;
  height: 110px;
}
// Import full bootstrap styles

@import "../node_modules/bootstrap/scss/bootstrap";
